*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{

background:
linear-gradient(
135deg,
#4b0082,
#6a0dad,
#8a2be2
);

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

padding:20px;

}

.container{

width:100%;
max-width:850px;

background:
rgba(255,255,255,.10);

backdrop-filter:
blur(10px);

border-radius:25px;

padding:25px;

text-align:center;

}

h1{

color:#FFD700;

font-size:42px;

margin-bottom:20px;

}

.uploadBtn{

display:inline-block;

padding:15px 25px;

background:
linear-gradient(
135deg,
#FFD700,
#FFA500
);

color:#4b0082;

font-weight:bold;

border-radius:15px;

cursor:pointer;

margin-bottom:20px;

}

#photoInput{

display:none;

}

.canvasBox{

display:flex;
justify-content:center;

margin-top:10px;
margin-bottom:20px;

}

#previewCanvas{

width:100%;

max-width:650px;

background:white;

border-radius:20px;

box-shadow:
0 0 25px
rgba(
0,0,0,.25
);

touch-action:none;

}

.controls{

margin-top:15px;

}

.controls p{

color:white;

font-size:28px;

margin-bottom:10px;

}

#zoom{

width:100%;

max-width:500px;

}

#downloadBtn{

margin-top:20px;

padding:16px 30px;

border:none;

border-radius:15px;

background:
linear-gradient(
135deg,
#FFD700,
#FFA500
);

color:#4b0082;

font-size:20px;

font-weight:bold;

cursor:pointer;

}

@media(max-width:768px){

h1{

font-size:32px;

}

#previewCanvas{

max-width:100%;

}

}
